.transaction-row:hover {
    background-color: #e3e3e3;
  }
  
  .transaction-data {
    padding: 8px;
  }
  
  .transaction-actions button {
    margin-right: 8px;
    background-color: transparent;
    border: none;
    color: #2196f3;
    cursor: pointer;
  }
  
  .transaction-actions button:hover {
    text-decoration: underline;
  }
  